<launch>
  <node pkg="rosbag" type="play" name="player" args="--clock -l -r 0.05 /home/markchang/Downloads/finger_front_2.bag"/>
  
  <!-- Start openpose_ros -->
  <node pkg="openpose_ros" type="openpose_ros_node" name="openpose_ros_node" output="screen"> <!-- launch-prefix="valgrind" -->
    <param name="image_topic"                value="/camera/color/image_raw" />
    <param name="depth_topic"                value="/camera/aligned_depth_to_color/image_raw" />
    <param name="input_image_transport_type" value="raw" />
    <param name="initia_keypoints_length" value="false" />
    <param name="output_topic"               value="/openpose_ros/human_list" />
    <param name="display_output"             value="true" />
    <param name="print_keypoints"            value="false" />
    <param name="save_original_video"        value="false" />
    <param name="save_openpose_video"        value="false" />
    <param name="original_video_file_name"   value="original_video_output.avi" />
    <param name="openpose_video_file_name"   value="openpose_video_output.avi" />
    <param name="video_fps"                  value="20" />
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find openpose_ros)/openpose_3d.rviz" />
</launch>
